<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div th:fragment="footer">

    <div class="footer">国安比分竞猜, @fuliqiang, 2017</div>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <script src="../../static/js/jquery.dataTables.min.js"
            th:src="@{js/jquery.dataTables.min.js}"></script>

    <script src="../../static/js/mini_springboot.js" th:src="@{js/mini_springboot.js}"></script>

    <script type="text/javascript"  th:src="@{jquery/dist/jquery.min.js}"
            src="../../static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript"  th:src="@{moment/min/moment.min.js}"
            src="../../static/moment/min/moment.min.js"></script>
    <script type="text/javascript"  th:src="@{moment/min/locales.min.js}"
            src="../../static/moment/min/locales.min.js"></script>
    <script type="text/javascript"  th:src="@{eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"
            src="../../static/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</div>


</body>
</html>
