<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header :: head"></th:block>
<head>
    <title>Spring Framework Guru</title>
</head>
<body>
<th:block th:include="common/header :: header"></th:block>
<div class="container">

    <h2>Product Details</h2>
    <div>
        <form class="form-horizontal" th:object="${scheInfo}" th:action="@{/createSche}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">home name:</label>
                <div class="col-sm-5">
                    <select
                            th:field="${scheInfo.homeTeam}" class="form-control"
                            data-required="true">
                        <option th:each="team : ${teamList}"
                                th:value="${team.chineseName}"
                                th:text="${team.chineseName}"
                                th:selected="${#strings.equals(team.chineseName,scheInfo.homeTeam) ? 'selected' : ''}"
                                th:attr="stadium=${team.stadiumName}">aa
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">away name:</label>
                <div class="col-sm-5">
                    <select
                            th:field="${scheInfo.awayTeam}" class="form-control"
                            data-required="true">
                        <option th:each="team : ${teamList}"
                                th:value="${team.chineseName}"
                                th:selected="${#strings.equals(team.chineseName,scheInfo.awayTeam) ? 'selected' : ''}"
                                th:text="${team.chineseName}"
                                th:attr="stadium=#{team.stadium}">aa
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">matchlevel:</label>
                <div class="col-sm-5">
                    <select
                            th:field="${scheInfo.matchLevel}" class="form-control"
                            data-required="true">
                        <div th:each="level : ${matchList}">
                            <option th:value="${level.chineseName}"
                                    th:selected="${#strings.equals(scheInfo.matchLevel,level.chineseName) ? 'selected' : ''}"
                                    th:text="${level.chineseName}">aa
                            </option>
                        </div>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">stadium Name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{stadiumName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">date:</label>
                <div class="col-sm-5">
                    <input th:field="*{matchDateTime}" class="form-control input"
                           placeholder="YYYY-MM-DD hh:mm"
                           id="dt"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">home result:</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="0"  class="form-control" th:field="*{homeResult}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">away result:</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="0" class="form-control" th:field="*{awayResult}"/>
                </div>
            </div>
            <div  class="row">
                <label class="col-sm-2 control-label">status:</label>
                <div class="row">
                    <input type="radio" th:field="*{status}" value="0">未开始</input>
                    <input type="radio" th:field="*{status}" value="1">进行中</input>
                    <input type="radio" th:field="*{status}" value="2">已结束</input>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
                <a th:if="${scheInfo.id>0}" href="#" th:href="${ '/deletesche?id=' + scheInfo.id}">DELETE THIS MATCH</a>
            </div>
        </form>
    </div>
</div>
<th:block th:include="common/footer :: footer"></th:block>

<script language="JavaScript">
    $("#homeTeam").change(function () {
        $("#stadiumName").val($(this).find("option:selected").attr("stadium"));
    });
</script>
</body>
</html>