<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>
<th:block th:include="common/header :: header"></th:block>
<div>
    <h2>赛程管理</h2>

    <a href="#" th:href="@{/editsche}">创建新比赛</a>
    <table id="customersTable" class="table table-striped">
        <thead>
        <tr>
            <th>编辑 </th>
            <th>Id</th>
            <th>主队</th>
            <th>客队</th>
            <th>比赛时间</th>
            <th>比赛级别</th>
            <th>主场球场</th>
            <th>轮次</th>
            <th>结果</th>
            <th>比赛状态</th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody th:if="${not #lists.isEmpty(schelist)}">
        <tr th:each="sche : ${schelist}">
            <td><a href="#" th:href="${ '/editsche?id=' + sche.id}">edit</a></td>
            <td th:text="${sche.id}">Id</td>
            <td th:text="${sche.homeTeam}">homeTeam</td>
            <td th:text="${sche.awayTeam}">awayTeam</td>
            <td th:text="${#calendars.format(sche.matchDateTime,'yyyy-MM-dd HH:mm')}">matchDateTime</td>
            <td th:text="${sche.matchLevel}">matchInfo</td>
            <td th:text="${sche.stadiumName}">stadiumName</td>
            <td th:text="${sche.roundNum}">roundNum</td>
            <td th:text="${sche.homeResult + ' : ' + sche.awayResult}" th:if="${sche.status==2}">Result</td>
            <td th:if="${sche.status!=2}">- : -</td>
            <td th:text="未开始" th:if="${sche.status==0}">未开始</td>
            <td th:text="进行中" th:if="${sche.status==1}">进行中</td>
            <td th:text="已结束" th:if="${sche.status==2}">比赛结束,未计算</td>
            <td th:text="已结束" th:if="${sche.status==3}">已计算</td>
            <td><a href="#" th:href="${ '/editsche?id=' + sche.id}">edit</a></td>
        </tr>
        </tbody>

    </table>
</div>

<a href="#" th:href="@{/editsche}">创建新比赛</a>
<th:block th:include="common/footer :: footer"></th:block>

</body>
</html>
