<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>
<th:block th:include="common/header :: header"></th:block>
<div>
    <h2>stadium list</h2>
    <table id="customersTable" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>chinese_name</th>
            <th>english name</th>
            <th>city</th>
            <th>edit</th>
        </tr>
        </thead>

        <tbody th:if="${not #lists.isEmpty(stadiumlist)}">
        <tr th:each="stadium : ${stadiumlist}">
            <td th:text="${stadium.id}">Id</td>
            <td th:text="${stadium.chineseName}">chineseName</td>
            <td th:text="${stadium.englishName}">englishName</td>
            <td th:text="${stadium.city}">city</td>
            <td><a href="#" th:href="${ '/editstadium?id=' + stadium.id}">edit</a></td>
        </tr>
        </tbody>

    </table>
</div>

<a  href="#" th:href="@{/editstadium}">CREATE STADIUM</a>
<th:block th:include="common/footer :: footer"></th:block>

</body>
</html>
