<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>
<th:block th:include="common/header :: header"></th:block>
<div class="container">

    <h2>edit team</h2>
    <div>
        <form class="form-horizontal" th:object="${leagueTeam}" th:action="@{/createTeam}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">chinese name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{chineseName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">city:</label>
                <div class="col-sm-10">
                    <select
                            th:field="${leagueTeam.city}" class="form-control"
                            data-required="true">
                        <option th:each="stadium : ${allStadium}"
                                th:value="${stadium.city}"
                                th:selected="${#strings.equals(leagueTeam.city,stadium.city) ? 'selected' : ''}"
                                th:text="${stadium.city}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">stadium Name:</label>
                <div class="col-sm-10">
                    <select
                            th:field="${leagueTeam.stadiumName}" class="form-control"
                            data-required="true">
                        <option th:each="stadium : ${allStadium}"
                                th:value="${stadium.chineseName}"
                                th:selected="${#strings.equals(leagueTeam.stadiumName,stadium.chineseName) ? 'selected' : ''}"
                                th:text="${stadium.chineseName}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">emblems:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{emblems}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>