<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>
<th:block th:include="common/header :: header"></th:block>
<div>
    <h2>team List</h2>
    <table id="customersTable" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>chinese_name</th>
            <th>city</th>
            <th>stadium Name</th>
            <th>emblems</th>
            <th>edit</th>
        </tr>
        </thead>

        <tbody th:if="${not #lists.isEmpty(teams)}">
        <tr th:each="team : ${teams}">
            <td th:text="${team.id}">Id</td>
            <td th:text="${team.chineseName}">chineseName</td>
            <td th:text="${team.city}">city</td>
            <td th:text="${team.stadiumName}">stadiumName</td>
            <td><img src="../../embles/beijingguoan.png"/></td>
            <td><a href="#" th:href="${ '/editteam?id=' + team.id}">edit</a></td>
        </tr>
        </tbody>

    </table>
</div>

<a  href="#" th:href="@{/editteam}">CREATE NEW TEAM</a>
<th:block th:include="common/footer :: footer"></th:block>

</body>
</html>
