<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>

<body>
<th:block th:include="common/header :: header"></th:block>
<div>
    <h2>赛事管理</h2>
    <table id="customersTable" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>赛事名称</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody th:if="${not #lists.isEmpty(matchlist)}">
        <tr th:each="match : ${matchlist}">
            <td th:text="${match.id}">Id</td>
            <td th:text="${match.chineseName}">中文名</td>
            <td th:text="未开始" th:if="${match.status==0}">未开始</td>
            <td th:text="进行中" th:if="${match.status==1}">进行中</td>
            <td th:text="已结束" th:if="${match.status==2}">已结束</td>
            <td><a href="#" th:href="${ '/editmatch?id=' + match.id}">edit</a>
                <a href="#" th:href="${'/countresult?mainfoid=' + match.id}">计算</a></td>

        </tr>
        </tbody>

    </table>
</div>

<a  href="#" th:href="@{/editmatch}">创建新的赛事</a>
<th:block th:include="common/footer :: footer"></th:block>

</body>
</html>
